# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment
.env

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
logs/

# Models
models_store/

# Data
data/processed/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Build
dist/
build/